.feature.item {
    list-style: var(--point);
    flex-basis: calc((100% - 90px) / 4);
}
.feature {
    display: flex;
    gap: 30px;
}
.feature .list .item{
    width:270px;
    height: 74px;
}
.list-item::before {
    display:block ;
    content: "";
    width: 270px;
    height: 120px;
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    
}
.icon-antenna::before{
    background-image: url(../images/antenna.svg);
}
.icon-clock::before{
    background-image: url(../images/clock.svg);
}
.icon-diagram::before{
    background-image: url(../images/diagram.svg) ;
}
.icon-astronaut::before{
    background-image: url(../images/astronaut.svg);
}

.section-title {
    padding-top: 0;
    color: #212121 ;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    text-decoration:none;
    letter-spacing: 0.03em;
}
.feature-title {
    margin-bottom: 10px;
    Font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}
.feature-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.feature .list .title {
    color: #000000;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    
}

.feature .list .link{
    color:#2196F3 ;
}